<mat-card class="auth-card">
  <mat-card-header class="text-center">
    <mat-card-title class="title">Benvenuto</mat-card-title>
    <mat-card-subtitle>Scegli se registrarti o accedere</mat-card-subtitle>
  </mat-card-header>

  <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center" class="auth-tabs" color="primary">
    <!-- Tab Registrazione -->
    <mat-tab label="Registrati">
      <div class="tab-content">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" required>
            @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched) {
              <mat-error>Nome obbligatorio</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Cognome</mat-label>
            <input matInput formControlName="lastname" required>
            @if (registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched) {
              <mat-error>Cognome obbligatorio</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required>
            @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
              <mat-error>Email non valida</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
              <mat-error>Minimo 8 caratteri</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" required>
            @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched) {
              <mat-error>Le password non corrispondono</mat-error>
            }
          </mat-form-field>
          

          @if (auth.loading()) {
            <div class="loading">
              <mat-spinner diameter="28"></mat-spinner>
            </div>
          }@else {
          <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="registerForm.invalid">
            Crea Account
          </button>
          }
        </form>
      </div>
    </mat-tab>

    <!-- Tab Login -->
    <mat-tab label="Accedi">
      <div class="tab-content">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required>
            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
              <mat-error>Email non valida</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
              <mat-error>Password obbligatoria</mat-error>
            }
          </mat-form-field>
          @if (auth.loading()) {
            <div class="loading">
              <mat-spinner diameter="28"></mat-spinner>
            </div>
          } @else {
          <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="loginForm.invalid">
            Accedi
          </button>
        }
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>