# --- OS / Editor ---
.DS_Store
.vscode/
.idea/

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.sqlite
*.db

# Flask instance (DB locale)
be/instance/
# se vuoi tenere la cartella ma non il db:
# be/instance/*
# !be/instance/.gitkeep

# dotenv
.env
be/.env
fe/.env

# --- Node / Angular ---
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Build / coverage ---
coverage/
